@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,600;12..96,700&family=Noto+Sans+KR:wght@500;700;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 73, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: rgb(212, 97, 51);
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1, h2, h3, h4 {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.title {
  font-size: 20rem;
  letter-spacing: -40px;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
}

.gradient {
  background: var(--main-color);
  background: linear-gradient(45deg, rgba(212, 97, 51, 1) 45%, rgb(255, 72, 0) 100%);
}

.text-gradient {
  background: var(--main-color);
  background: linear-gradient(45deg, rgba(212, 97, 51, 1) 45%, rgb(157, 54, 13) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.bounce {
  animation: bounce 3s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(25%);
  }

  75% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0);
  }
}

.fade {
  animation: fade 1s 1 linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sc-gtsqUy.lbuoqZ {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.border-gradient {
  position: relative;
  padding: 2px;
  background: linear-gradient(45deg, rgba(212, 97, 51, 1) 45%, rgba(255, 196, 172, 1) 100%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(93, 72, 50, 0.25) 0px 50px 100px -20px, rgba(39, 39, 39, 0.3) 0px 30px 60px -30px;
}

.shadow {
  box-shadow: rgba(93, 72, 50, 0.25) 0px 50px 100px -20px, rgba(39, 39, 39, 0.3) 0px 30px 60px -30px;

}

.border-gradient::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(rgba(212, 97, 51, 1) 45%, rgba(255, 196, 172, 1) 100%);
  z-index: 1;
  border-radius: 5px;
  margin: 1px;
}

.link-hover {
  text-decoration: none;
  color: #fff;
  width: max-content;
  padding: 10px;
  background-image:linear-gradient(45deg, rgba(212, 97, 51, 1) 45%, rgb(200, 68, 15) 100%);
  background-repeat: no-repeat;
  background-size: 30% 100%;
  transition: .5s;
  font-weight: bold;
}
.link-hover:hover{
  background-size: 100% 100%;
}
.border-gradient>* {
  position: relative;
  z-index: 2;
}

.bg-hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.636), rgb(0, 0, 0)), url('/hero.png');
  background-size: cover;
  background-position: center;
  z-index:0;
}

.bg-bullet {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url('/bullets.jpg');
  background-size: cover;
}

.dash{
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
  grid-template-rows: auto;
  grid-template-areas: 'nav content';
}

.navegador{
  grid-area:nav;
}

.content{
  grid-area:content;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px; 
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #ff6600; 
}
.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #333; 
}

#drawer-navigation ul:last-child{
border:none;
}

@media screen and (max-width:800px) {
  .title {
    font-size: 10rem;
    letter-spacing: -10px;
  }

  .dash{
    display: grid;
    grid-template-columns: 150px calc(100% - 150px);
    grid-template-rows: auto;
    grid-template-areas: 'nav content';
  }
  
}

@media screen and (max-width:600px) {
  .title {
    font-size: 6rem;
    letter-spacing: -5px;
  }

  .dash{
    display:flex;
    flex-direction:column;
  }
}